<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goodsManagement.mapper.InRepositoryDtoMapper">
    <resultMap id="BaseResultMap" type="org.goodsManagement.po.InRepositoryDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="DATE"/>
        <result column="goodid" property="goodid" jdbcType="INTEGER"/>
        <result column="suppliers" property="suppliers" jdbcType="VARCHAR"/>
        <result column="linkman" property="linkman" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, intime, goodid, suppliers, linkman, phone, operator, comments
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from inrepository
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from inrepository
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.goodsManagement.po.InRepositoryDto">
        insert into inrepository (id, intime, goodid,
        suppliers, linkman, phone,
        operator, comments)
        values (#{id,jdbcType=INTEGER}, #{intime,jdbcType=DATE}, #{goodid,jdbcType=INTEGER},
        #{suppliers,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{operator,jdbcType=INTEGER}, #{comments,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.goodsManagement.po.InRepositoryDto">
        insert into inrepository
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="goodid != null">
                goodid,
            </if>
            <if test="suppliers != null">
                suppliers,
            </if>
            <if test="linkman != null">
                linkman,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="comments != null">
                comments,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=DATE},
            </if>
            <if test="goodid != null">
                #{goodid,jdbcType=INTEGER},
            </if>
            <if test="suppliers != null">
                #{suppliers,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.goodsManagement.po.InRepositoryDto">
        update inrepository
        <set>
            <if test="intime != null">
                intime = #{intime,jdbcType=DATE},
            </if>
            <if test="goodid != null">
                goodid = #{goodid,jdbcType=INTEGER},
            </if>
            <if test="suppliers != null">
                suppliers = #{suppliers,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=INTEGER},
            </if>
            <if test="comments != null">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.goodsManagement.po.InRepositoryDto">
        update inrepository
        set intime = #{intime,jdbcType=DATE},
        goodid = #{goodid,jdbcType=INTEGER},
        suppliers = #{suppliers,jdbcType=VARCHAR},
        linkman = #{linkman,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        operator = #{operator,jdbcType=INTEGER},
        comments = #{comments,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>