<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goodsManagement.mapper.InRepositoryDtoMapper">
    <resultMap id="BaseResultMap" type="org.goodsManagement.po.InRepositoryDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="DATE"/>
        <result column="goodid" property="goodid" jdbcType="INTEGER"/>
        <result column="goodnumber" property="goodnumber" jdbcType="INTEGER"/>
        <result column="suppliers" property="suppliers" jdbcType="VARCHAR"/>
        <result column="linkman" property="linkman" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="operatorid" property="operatorid" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="VARCHAR"/>
        <result column="inrepositoryid" property="inrepositoryid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, intime, goodid, goodnumber, suppliers, linkman, phone, operatorid, comments,inrepositoryid
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from inrepository
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inrepository
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="org.goodsManagement.po.InRepositoryDto">
    insert into inrepository (id, intime, goodid,
      goodnumber, suppliers, linkman, 
      phone, operatorid, comments,inrepositoryid
      )
    values (#{id,jdbcType=INTEGER}, #{intime,jdbcType=DATE}, #{goodid,jdbcType=INTEGER}, 
      #{goodnumber,jdbcType=INTEGER}, #{suppliers,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{operatorid,jdbcType=INTEGER}, #{comments,jdbcType=VARCHAR},#{inrepositoryid,jdbcType=VARCHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="org.goodsManagement.po.InRepositoryDto">
        insert into inrepository
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="goodid != null">
                goodid,
            </if>
            <if test="goodnumber != null">
                goodnumber,
            </if>
            <if test="suppliers != null">
                suppliers,
            </if>
            <if test="linkman != null">
                linkman,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="operatorid != null">
                operatorid,
            </if>
            <if test="comments != null">
                comments,
            </if>
            <if test="inrepositoryid != null">
                inrepositoryid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=DATE},
            </if>
            <if test="goodid != null">
                #{goodid,jdbcType=INTEGER},
            </if>
            <if test="goodnumber != null">
                #{goodnumber,jdbcType=INTEGER},
            </if>
            <if test="suppliers != null">
                #{suppliers,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="operatorid != null">
                #{operatorid,jdbcType=INTEGER},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
            <if test="inrepositoryid != null">
                #{inrepositoryid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.goodsManagement.po.InRepositoryDto">
        update inrepository
        <set>
            <if test="intime != null">
                intime = #{intime,jdbcType=DATE},
            </if>
            <if test="goodid != null">
                goodid = #{goodid,jdbcType=INTEGER},
            </if>
            <if test="goodnumber != null">
                goodnumber = #{goodnumber,jdbcType=INTEGER},
            </if>
            <if test="suppliers != null">
                suppliers = #{suppliers,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="operatorid != null">
                operatorid = #{operatorid,jdbcType=INTEGER},
            </if>
            <if test="comments != null">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
            <if test="inrepositoryid != null">
                #{inrepositoryid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.goodsManagement.po.InRepositoryDto">
    update inrepository
    set intime = #{intime,jdbcType=DATE},
      goodid = #{goodid,jdbcType=INTEGER},
      goodnumber = #{goodnumber,jdbcType=INTEGER},
      suppliers = #{suppliers,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      operatorid = #{operatorid,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR},
      inrepositoryid = #{inrepositoryid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectingood" resultType="org.goodsManagement.vo.InrepositoryGood" parameterType="java.lang.String">
        select
        goods.goodname,
        goods.goodunit,
        goods.goodtype,
        inrepository.goodnumber
        from goods,inrepository
        WHERE goods.id = inrepository.goodid
        AND inrepository.inrepositoryid = #{inrepositoryid,jdbcType=VARCHAR}
    </select>
    <select id="selectall" resultType="org.goodsManagement.po.InRepositoryDto" >
        select
        <include refid="Base_Column_List"/>
        from inrepository
    </select>
    <select id="selectsql" resultType="org.goodsManagement.vo.InrepositoryShow" parameterType="org.goodsManagement.vo.Inrepositorysql">
        select
        inrepositoryid,
        suppliers,
        linkman,
        phone,
        operatorid,
        intime
        from inrepository
        <where>
        <if test=" suppliers != null ">
           suppliers = #{suppliers}
        </if>
        <if test="intime != null">
           and  intime LIKE CONCAT(CONCAT('%', #{intime}),'%')
        </if>
        <if test="inrepositoryid != null ">
          and  inrepositoryid = #{inrepositoryid}
        </if>
        </where>
        GROUP BY inrepositoryid
    </select>

    <select id="selectgroup" resultType="org.goodsManagement.vo.InrepositoryShow" >
        select distinct
        inrepositoryid,
        suppliers,
        linkman,
        phone,
        operatorid,
        intime
        from inrepository
        GROUP BY inrepositoryid
    </select>

    <select id="selectmesInprositoryId" resultType="org.goodsManagement.vo.InrepositoryShow" parameterType="java.lang.String">
        select distinct
        inrepositoryid,
        suppliers,
        linkman,
        phone,
        operatorid,
        intime
        from inrepository
        WHERE inrepositoryid = #{inrepositoryid,jdbcType=VARCHAR}
    </select>
</mapper>